.list-user-item {
    width: 600px;
    margin-bottom: 30px;

    thead,
    tbody {
        tr {
            td {
                width: 200px;
                text-align: left;
                padding-left: 10px;

                &:nth-last-child(1) {
                    text-align: center;

                    button {
                        color: red;
                    }
                }
            }
        }
    }

}

.btn-show {
    width: 200px;
    text-align: center;
    color: white;
    background-color: violet;
    border-radius: 5px;
    margin-bottom: 30px;
}

.add-user {
    width: 400px;

    form {
        button {
            margin-top: 20px;
            color: rgb(88, 88, 4);
            background-color: rgb(5, 183, 5);
            border-radius: 5px;
        }
    }

}